<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :attachments, "Attach an Image" %><br />
    <%= file_field_tag "images[]", type: :image, multiple: true %>
  </p>
  <% @article.attachments.each do |attachment|%>
     <%= image_tag attachment.image.url %>
  <% end %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :tag_list %><br/>
    <%= f.text_field :tag_list%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
